@model string
@{
    ViewBag.Title = "DisplayError";
}

<div class="container container-fluid bg-white">
    <div class="panel panel-danger margin-top-15">
        <div class="panel-heading">Error</div>
    </div>
    <div class="panel-body">
        <p>@Model</p>
    </div>
</div>
